.powered-by
  %a{href: "https://www.loomio.org/?frontpage",   translate: "powered_by.powered_by_loomio", target: "_blank", }>
  %span{ng-show: "showFrontPage"}
    ·
    %a{href: "/", translate: "user_dropdown.sign_out", ng-click: "signOut()"}>
