.thread-card.lmo-card--no-padding
  %context_panel{ng-if: "isSiteAdmin || !waitingForPoll", discussion: "discussion"}
  %poll_common_card.lmo-card--no-padding{ng-if: "!isSiteAdmin && waitingForPoll", poll: "poll"}
  %poll_common_card.lmo-card--no-padding{ng-if: "isSiteAdmin", poll: "poll", ng-repeat: "poll in discussion.activePolls() track by poll.id"}
  %activity_card{discussion: "discussion", ng-if: "isSiteAdmin || (!waitingForPoll && discussion.createdEvent())"}