%section.activity-card{aria-labelledby: "activity-card-title"}

  %div{ng-if: "debug()"}
    first: {{eventWindow.firstInSequence()}}
    last:  {{eventWindow.lastInSequence()}}
    total: {{eventWindow.numTotal()}}
    -
    min: {{eventWindow.min}}
    max: {{eventWindow.max}}
    per: {{per}}
    -
    firstLoaded: {{eventWindow.firstLoaded()}}
    lastLoaded:  {{eventWindow.lastLoaded()}}
    loadedCount: {{eventWindow.numLoaded()}}
    - 
    read: {{discussion.readItemsCount()}}
    unread: {{discussion.unreadItemsCount()}}
    firstUnread {{discussion.firstUnreadSequenceId()}}
    initialSequenceId: {{initialSequenceId(initialPosition())}}
    requestedSequenceId:  {{discussion.requestedSequenceId}}
    position: {{initialPosition()}}

  %loading_content.lmo-card-left-right-padding{ng-if: "loader.loading", block-count: 2}
  .activity-card__content{ng-if: "!loader.loading"}
    %ul.activity-card__activity-list
      %li.activity-card__activity-list-item{ng-if: "event.kind == 'new_comment'", ng_repeat: "event in eventWindow.windowedEvents() track by event.id"}
        %thread_item{event: "event", event_window: "eventWindow"}
    .activity-card__load-more-sensor.lmo-no-print{in-view: "$inview && !eventWindow.loader.loadingMore && eventWindow.anyNext() && eventWindow.showNext()", in-view-options: "{throttle: 200}"}
    %loading.activity-card__loading.page-loading{ng-show: "eventWindow.loader.loadingMore"}

  %add_comment_panel{ng-if: "eventWindow && !waitingForPoll", event_window: "eventWindow", parent_event: "discussion.createdEvent()"}
